<html>
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>jewellery</title>
<!-- Bootstrap Css -->
<link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />

<!-- Custom Css -->
<link rel='stylesheet' href='/stylesheets/style.css' />
<!-- Font awesome-->
<link rel='stylesheet' href='/bootstrap/fonts/font-awesome.min.css' />

</head>
<body>

<h2>Accordion</h2>
<div class="filter-area">
<button class="accordion">Price-range</button>
<div class="panel">
           <div id ="termSheetPopup1">
  
  <ul class="categories-menu menu vertical nested is-active">
         <!-- <a href="#" class="clear-all-first" id="category-clear-all">Clear All</a> --> 
         <!-- <li><input id="category-checkbox1" type="checkbox"><label for="category-checkbox1">Category 1</label></li>
         <li><input id="category-checkbox2" type="checkbox"><label for="category-checkbox2">Category 2</label></li>
         <li><input id="category-checkbox3" type="checkbox"><label for="category-checkbox3">Category 3</label></li>
         <li><input id="category-checkbox4" type="checkbox"><label for="category-checkbox4">Category 4</label></li>
         <li><input id="category-checkbox5" type="checkbox"><label for="category-checkbox5">Category 5</label></li>
         <li><input id="category-checkbox6" type="checkbox"><label for="category-checkbox6">Category 6</label></li>
         <li><input id="category-checkbox7" type="checkbox"><label for="category-checkbox7">Category 7</label></li>
         <li><input id="category-checkbox8" type="checkbox"><label for="category-checkbox8">Category 8</label></li>
         <li><input id="category-checkbox9" type="checkbox"><label for="category-checkbox9">Category 9</label></li>
         <li><input id="category-checkbox10" type="checkbox"><label for="category-checkbox10">Category 10</label></li>
         <li><input id="category-checkbox11" type="checkbox"><label for="category-checkbox11">Category 11</label></li>
         <li><input id="category-checkbox12" type="checkbox"><label for="category-checkbox12">Category 12</label></li>
         <li><input id="category-checkbox13" type="checkbox"><label for="category-checkbox13">Category 13</label></li>
         <li><input id="category-checkbox14" type="checkbox"><label for="category-checkbox14">Category 14</label></li>
         <li><input id="category-checkbox15" type="checkbox"><label for="category-checkbox15">Category 15</label></li> -->
         <li><div class="slidecontainer">
  <input type="range" min="1" max="50000" value="50" class="slider" id="myRange">
  <p>Value: <span id="demo"></span></p>
</div></li>
      </ul>
      </div>
</div>

<button class="accordion">Brand</button>
<div class="panel">
         <div id ="termSheetPopup2">
  <ul class="categories-menu menu vertical nested is-active">
         <a href="#" class="clear-all-second" id="category-clear-all">Clear All</a> 
         <li><input id="category-checkbox1" type="checkbox"><label for="category-checkbox1">Adidas</label></li>
         <li><input id="category-checkbox2" type="checkbox"><label for="category-checkbox2">Puma</label></li>
         <li><input id="category-checkbox3" type="checkbox"><label for="category-checkbox3">Reebok</label></li>
         <li><input id="category-checkbox4" type="checkbox"><label for="category-checkbox4">Alencooper</label></li>
         <li><input id="category-checkbox5" type="checkbox"><label for="category-checkbox5">Nike</label></li>
         <li><input id="category-checkbox6" type="checkbox"><label for="category-checkbox6">Lotto</label></li>
         <li><input id="category-checkbox7" type="checkbox"><label for="category-checkbox7">Sparks</label></li>
         <li><input id="category-checkbox8" type="checkbox"><label for="category-checkbox8">Asics</label></li>
         <li><input id="category-checkbox9" type="checkbox"><label for="category-checkbox9">Wildcraft</label></li>
         <li><input id="category-checkbox10" type="checkbox"><label for="category-checkbox10">crv</label></li>
         <li><input id="category-checkbox11" type="checkbox"><label for="category-checkbox11">Blackberry</label></li>
         <li><input id="category-checkbox12" type="checkbox"><label for="category-checkbox12">Bata</label></li>
         <li><input id="category-checkbox13" type="checkbox"><label for="category-checkbox13">Earton</label></li>
         <li><input id="category-checkbox14" type="checkbox"><label for="category-checkbox14">Lancer</label></li>
         <li><input id="category-checkbox15" type="checkbox"><label for="category-checkbox15">Aero</label></li>
      </ul>
      </div>
</div>

<button class="accordion">Rating</button>
<div class="panel">
         <div id ="termSheetPopup3">
  <ul class="categories-menu menu vertical nested is-active">
         <a href="#" class="clear-all-third" id="category-clear-all">Clear All</a> 
         <li><input id="category-checkbox1" type="checkbox"><label for="category-checkbox1">5 star </label></li>
         <li><input id="category-checkbox2" type="checkbox"><label for="category-checkbox2">4 star</label></li>
         <li><input id="category-checkbox3" type="checkbox"><label for="category-checkbox3">3 star</label></li>
         <li><input id="category-checkbox4" type="checkbox"><label for="category-checkbox4">2 star</label></li>
         <li><input id="category-checkbox5" type="checkbox"><label for="category-checkbox5">1 star</label></li>
         <!-- <li><input id="category-checkbox6" type="checkbox"><label for="category-checkbox6">Category 6</label></li>
         <li><input id="category-checkbox7" type="checkbox"><label for="category-checkbox7">Category 7</label></li>
         <li><input id="category-checkbox8" type="checkbox"><label for="category-checkbox8">Category 8</label></li>
         <li><input id="category-checkbox9" type="checkbox"><label for="category-checkbox9">Category 9</label></li>
         <li><input id="category-checkbox10" type="checkbox"><label for="category-checkbox10">Category 10</label></li>
         <li><input id="category-checkbox11" type="checkbox"><label for="category-checkbox11">Category 11</label></li>
         <li><input id="category-checkbox12" type="checkbox"><label for="category-checkbox12">Category 12</label></li>
         <li><input id="category-checkbox13" type="checkbox"><label for="category-checkbox13">Category 13</label></li>
         <li><input id="category-checkbox14" type="checkbox"><label for="category-checkbox14">Category 14</label></li>
         <li><input id="category-checkbox15" type="checkbox"><label for="category-checkbox15">Category 15</label></li> -->
      </ul>
      </div>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!--  Include all compiled plugins (below), or include individual files as needed  -->
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<!-- js file -->
	<script src="javascripts/custom.js"></script>
</body>
</html>
